@page
@model IJune.Pages.AlbumAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.AlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.AlbumImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.SampleAudio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.SampleAudio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Album.AlbumID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
