@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "สร้างหัวข้อข่าวใหม่";
}

<h2>สร้างหัวข้อข่าวใหม่</h2>

<div>
    <h4>กรอกข้อมูลดังต่อไปนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อย่อของหมวดข่าว
        </dt>
        <dd>
            ชื่อย่อของหมวดข่าว
        </dd>
        <dt>
           ชื่อเต็ม/คำอธิบายหมวด
        </dt>
        <dd>
           ชื่อเต็ม/คำอธิบายหมวด
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
